In [3]:
import pandas as pd
import numpy as np
pd.Series(np.random.randn(5))

0    2.478340
1   -0.142021
2    0.994628
3   -0.326311
4   -0.516019
dtype: float64

In [4]:
pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

a    0.059503
b   -1.408233
c   -0.204941
d    0.298687
e    0.780500
dtype: float64

In [5]:
A={'A':23,'B':43,'C':22}
pd.Series(A)

A    23
B    43
C    22
dtype: int64

In [6]:
d={'c1':pd.Series(['A','B','C']),'c2':pd.Series([1,2.,3.,4.])}
dataf=pd.DataFrame(d)
dataf

    c1   c2
0    A  1.0
1    B  2.0
2    C  3.0
3  NaN  4.0

In [7]:
B={'c1':['A','B','C','D'],'c2':[1,2.,3.,4.]}
pd.DataFrame(B)

  c1   c2
0  A  1.0
1  B  2.0
2  C  3.0
3  D  4.0