In [1]:
import os
os.chdir("C:\\Users\\Poori\\Desktop\\Udemy\\A-Z Machine learning Kaggle\\Github\\Python Basics\\Course Files\\datacode")

In [2]:
import pandas as pd
creditrisk=pd.read_csv("cs-training.csv")

In [4]:
creditrisk.columns

Index(['ID', 'SeriousDlqin2yrs', 'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents'],
      dtype='object')

In [6]:
creditrisk.ID.isnull().sum()

0

In [8]:
creditrisk.ID.isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: ID, dtype: bool

In [9]:
creditrisk['ID'].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: ID, dtype: bool

In [10]:
creditrisk['ID'].isnull().value_counts()

False    150000
Name: ID, dtype: int64

In [11]:
creditrisk['MonthlyIncome'].isnull().value_counts()

False    120269
True      29731
Name: MonthlyIncome, dtype: int64

In [14]:
creditrisk1=creditrisk['MonthlyIncome'].dropna()
creditrisk.isnull().sum()

ID                                          0
SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

In [15]:
creditrisk1=creditrisk.dropna(how='any')
creditrisk1.isnull().sum()

ID                                      0
SeriousDlqin2yrs                        0
RevolvingUtilizationOfUnsecuredLines    0
age                                     0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
MonthlyIncome                           0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
dtype: int64

In [17]:
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3), index=
['a0', 'a10', 'a20', 'a30', 'a40'],
columns=['X', 'Y', 'Z'])

In [18]:
df

            X         Y         Z
a0   1.160419 -1.160563  0.309279
a10 -0.764084  0.543584 -1.209992
a20  0.285225  1.484353 -0.060767
a30 -0.746516  0.346031 -2.516062
a40 -1.342809 -0.295498 -0.888498

In [20]:
df2 = df.reindex(['a0', 'a1', 'a10', 'a11',
'a20', 'a21', 'a30', 'a31', 'a40', 'a41'])

In [21]:
df2

            X         Y         Z
a0   1.160419 -1.160563  0.309279
a1        NaN       NaN       NaN
a10 -0.764084  0.543584 -1.209992
a11       NaN       NaN       NaN
a20  0.285225  1.484353 -0.060767
a21       NaN       NaN       NaN
a30 -0.746516  0.346031 -2.516062
a31       NaN       NaN       NaN
a40 -1.342809 -0.295498 -0.888498
a41       NaN       NaN       NaN

In [22]:
df2.fillna(0)

            X         Y         Z
a0   1.160419 -1.160563  0.309279
a1   0.000000  0.000000  0.000000
a10 -0.764084  0.543584 -1.209992
a11  0.000000  0.000000  0.000000
a20  0.285225  1.484353 -0.060767
a21  0.000000  0.000000  0.000000
a30 -0.746516  0.346031 -2.516062
a31  0.000000  0.000000  0.000000
a40 -1.342809 -0.295498 -0.888498
a41  0.000000  0.000000  0.000000

In [23]:
df2.fillna(method='pad')

            X         Y         Z
a0   1.160419 -1.160563  0.309279
a1   1.160419 -1.160563  0.309279
a10 -0.764084  0.543584 -1.209992
a11 -0.764084  0.543584 -1.209992
a20  0.285225  1.484353 -0.060767
a21  0.285225  1.484353 -0.060767
a30 -0.746516  0.346031 -2.516062
a31 -0.746516  0.346031 -2.516062
a40 -1.342809 -0.295498 -0.888498
a41 -1.342809 -0.295498 -0.888498

In [24]:
df2.fillna(df2.mean())

            X         Y         Z
a0   1.160419 -1.160563  0.309279
a1  -0.281553  0.183581 -0.873208
a10 -0.764084  0.543584 -1.209992
a11 -0.281553  0.183581 -0.873208
a20  0.285225  1.484353 -0.060767
a21 -0.281553  0.183581 -0.873208
a30 -0.746516  0.346031 -2.516062
a31 -0.281553  0.183581 -0.873208
a40 -1.342809 -0.295498 -0.888498
a41 -0.281553  0.183581 -0.873208