In [1]:
dct={'name':'mark','age':24,'rank':4,'average':86}
dct['name']

'mark'

In [2]:
dct['rank']

4

In [3]:
dct.get('name')

'mark'

In [4]:
dct.get('rank')

4

In [7]:
dct['status']='high'

In [8]:
dct

{'age': 24, 'average': 86, 'name': 'mark', 'rank': 4, 'status': 'high'}

In [9]:
dct['rank']='5th'

In [10]:
dct

{'age': 24, 'average': 86, 'name': 'mark', 'rank': '5th', 'status': 'high'}

In [11]:
dct.pop('rank')

'5th'

In [12]:
dct

{'age': 24, 'average': 86, 'name': 'mark', 'status': 'high'}

In [13]:
#popitem() removes arbitary pair
dct.popitem()

('status', 'high')

In [14]:
dct

{'age': 24, 'average': 86, 'name': 'mark'}

In [15]:
dct.clear()

In [16]:
dct

{}

In [17]:
del dct

In [18]:
dct

NameError: name 'dct' is not defined

In [21]:
dct1 = {'First Name':'beth', 'Age': 22, 'Branch':'ny'}

In [22]:
dct2={'Last Name':'Davidson', 'Position': 'Supervisor', 'Branch':'New York'}

In [23]:
dct1.update(dct2)

In [24]:
dct1

{'Age': 22,
 'Branch': 'New York',
 'First Name': 'beth',
 'Last Name': 'Davidson',
 'Position': 'Supervisor'}

In [25]:
dct2

{'Branch': 'New York', 'Last Name': 'Davidson', 'Position': 'Supervisor'}

In [26]:
dct1.items()

dict_items([('First Name', 'beth'), ('Age', 22), ('Branch', 'New York'), ('Last Name', 'Davidson'), ('Position', 'Supervisor')])

In [28]:
dct1.values()

dict_values(['beth', 22, 'New York', 'Davidson', 'Supervisor'])

In [29]:
dct1.keys()

dict_keys(['First Name', 'Age', 'Branch', 'Last Name', 'Position'])

In [32]:
dct1.setdefault('gender',None)

In [33]:
dct1

{'Age': 22,
 'Branch': 'New York',
 'First Name': 'beth',
 'Last Name': 'Davidson',
 'Position': 'Supervisor',
 'gender': None}

In [34]:
dct3=dct1.copy()

In [35]:
dct3

{'Age': 22,
 'Branch': 'New York',
 'First Name': 'beth',
 'Last Name': 'Davidson',
 'Position': 'Supervisor',
 'gender': None}

In [36]:
#if now modified dct3 there won't be any change in dct1 as we assigned the dictionaries by using .copy() method

In [37]:
evn = {2:'G', 4:'X', 6:'D', 8:'G', 10:'J'}
evn

{2: 'G', 4: 'X', 6: 'D', 8: 'G', 10: 'J'}

In [38]:
2 in evn

True

In [39]:
12 in evn

False

In [40]:
14 not in evn

True

In [41]:
for n in evn:
    print(evn[n])

G
X
D
G
J

In [43]:
len(evn) #returns length of a dictionary

5

In [44]:
sorted(evn)

[2, 4, 6, 8, 10]