In [1]:
prs=[("ct","kt"),("dog","pup"),("lamb","ewe")]
dict(prs)

{'ct': 'kt', 'dog': 'pup', 'lamb': 'ewe'}

In [7]:
#dictionary comprehension
sqrs={x:x*2 for x in range(5)}
sqrs

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [5]:
even_sqrs={x:x*2 for x in range(10) if x%2==0}
even_sqrs

{0: 0, 2: 4, 4: 8, 6: 12, 8: 16}

In [6]:
odd_sqrs={x:x*2 for x in range(10) if x%2==1}
odd_sqrs

{1: 2, 3: 6, 5: 10, 7: 14, 9: 18}

In [10]:
#nested dictionary
fam = {
  "c1" : {
    "name" : "Emily",
    "year" : 2005
  },
  "c2" : {
    "name" : "Tobi",
    "year" : 2003
  },
  "c3" : {
    "name" : "Lius",
    "year" : 2019
  }
}
print(fam)

{'c1': {'name': 'Emily', 'year': 2005}, 'c2': {'name': 'Tobi', 'year': 2003}, 'c3': {'name': 'Lius', 'year': 2019}}

In [11]:
c1 = {
  "name" : "Emily",
  "year" : 2005
}
c2 = {
  "name" : "Tobi",
  "year" : 2003
}
c3 = {
  "name" : "Lius",
  "year" : 2019
}

fam = {
  "child1" : c1,
  "child2" : c2,
  "child3" : c3
}
print(fam)

{'child1': {'name': 'Emily', 'year': 2005}, 'child2': {'name': 'Tobi', 'year': 2003}, 'child3': {'name': 'Lius', 'year': 2019}}