In [1]:
#npr and ncr formula implementation
#factorial function
def fact(num):
    if num==0 or num ==1:
        return 1
    return num*fact(num-1)
fact(5)
#n/(n-r) n/r*(n-r)
def perm(n,r):
    return fact(n)/fact(n-r)
def comb(n,r):
    return fact(n)/(fact(r)*fact(n-r))
perm(5,2)

20.0

In [2]:
#key words of list
#membership operators
lst=['1','2','3']
if '1' in lst:
    print('1 present')
if '4' not in lst:
    print('4 is not present')

1 present
4 is not present

In [3]:
lst.reverse()

In [4]:
lst

['3', '2', '1']

In [6]:
num=[1,72,34,56,6]
sorted(num)

[1, 6, 34, 56, 72]

In [8]:
num #original list wont change if we use sorted() function

[1, 72, 34, 56, 6]

In [10]:
lst=[1,65,34,23,64]
lst.sort()
lst #this changes the original list

[1, 23, 34, 64, 65]

In [11]:
lst = [1, 20, 'b', 5, 'a']
print(lst.sort()) # sort list with element of different datatypes.

TypeError: '<' not supported between instances of 'str' and 'int'

In [12]:
lst=[1,3,5,2,3]
abc=lst
abc.append(6)
lst

[1, 3, 5, 2, 3, 6]

In [14]:
#string split to list
s="this,is,nankris"
slst=s.split(',')
print(slst)

['this', 'is', 'nankris']

In [15]:
s="this is nankris"
slst=s.split(' ')
print(slst)

['this', 'is', 'nankris']

In [16]:
lst=[1,2,3,4]
lst[1]

2

In [17]:
lst[-1]

4

In [18]:
lst[-2]

3

In [20]:
num=[1,2,3,4,5,6,4,3,2]
print(num[:]) #all rows and all columns

[1, 2, 3, 4, 5, 6, 4, 3, 2]

In [21]:
num[::2] #all rows and all columns with 2 steps

[1, 3, 5, 4, 2]

In [22]:
num[2::2]

[3, 5, 4, 2]

In [23]:
lst1=[1,2,3,4]
lst2=['a','b','c','d']
newlst=lst1+lst2
newlst

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [24]:
lst1=[1,1,1,2,3,4,4,2,1,3,4,6]
lst1.count(1)

4

In [25]:
#list looping
lst=['one','two','three']
for i in lst:
    print(i)

one
two
three

In [26]:
#list comprehension
squares=[i**2 for i in range(20)]

In [27]:
squares

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]