In [4]:
lst=[1,2,9,4,3]

In [5]:
#to insert a number just after 2
#lst.insert(7,91)
lst.insert(2,3)

In [6]:
lst

[1, 2, 3, 9, 4, 3]

In [7]:
lst=[1,2,9,4,2,3]
lst.insert(2,81)
lst

[1, 2, 81, 9, 4, 2, 3]

In [8]:
lst[2:4]

[81, 9]

In [9]:
lst[2:4]=[44,55]
lst

[1, 2, 44, 55, 4, 2, 3]

In [10]:
lst.remove(44)
lst

[1, 2, 55, 4, 2, 3]

In [11]:
lst.pop(1)
lst

[1, 55, 4, 2, 3]

In [12]:
lst.clear()
lst

[]

In [13]:
lst=[1,3,2,4,5,2,4,5,2,5]
del lst[0]
lst

[3, 2, 4, 5, 2, 4, 5, 2, 5]

In [14]:
del lst[0:4]

In [15]:
lst

[2, 4, 5, 2, 5]

In [16]:
#removing certain elements in a list with empty list
lst[0:3]=[]
lst

[2, 5]

In [17]:
#to delete entire list elements
lst[:]=[]
lst

[]

In [18]:
#sorting elements in a list
lst=[4,3,2,5,6,8,65,34]
lst.sort()

In [19]:
lst

[2, 3, 4, 5, 6, 8, 34, 65]

In [20]:
#for arranging in descending order
lst.reverse()
lst

[65, 34, 8, 6, 5, 4, 3, 2]

In [22]:
lst=[4,3,2,5,6,8,65,34,2]
lst.count(2)

2

In [23]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [25]:
list({'name':"nhk","age":24,"occupation":"employer"})

['name', 'age', 'occupation']

In [26]:
k={'name':"nhk","age":24,"occupation":"employer"}
list(k)

['name', 'age', 'occupation']

In [27]:
#tuple can be converted to list
tpl={'name':"nhk","age":24,"occupation":"employer"}
list(tpl)

['name', 'age', 'occupation']

In [28]:
#list comprehension
[3**y for y in range(4)]

[1, 3, 9, 27]

In [29]:
[3**y for y in range(10) if y<5]

[1, 3, 9, 27, 81]