In [1]:
import pandas as pd

In [2]:
lst=["he","is","not","in","good","shape"]
df=pd.DataFrame(lst)

In [3]:
lst=["he","is","not","in","good","shape"]
df=pd.DataFrame(lst,index=["a","b","c","d","e","f"],columns=['rndm'])
df

    rndm
a     he
b     is
c    not
d     in
e   good
f  shape

In [4]:
#combining two list functions
lst2=[1,2,3,4,5]
df=pd.DataFrame(list(zip(lst,lst2)),columns=['rndm','num'])
df

   rndm  num
0    he    1
1    is    2
2   not    3
3    in    4
4  good    5

In [5]:
#data frame from two dimensional list
lst=[['nhk',24],['nhk1',25],['nhk2',26],['nhk3',27]]
df=pd.DataFrame(lst)
df

      0   1
0   nhk  24
1  nhk1  25
2  nhk2  26
3  nhk3  27

In [6]:
#data frame from three dimensional list
lst=[['nhk',24,'xy'],['nhk1',25,'xyz'],['nhk2',26,'xy'],['nhk3',27,'xyz']]
df=pd.DataFrame(lst)
df

      0   1    2
0   nhk  24   xy
1  nhk1  25  xyz
2  nhk2  26   xy
3  nhk3  27  xyz

In [7]:
#using lists inside dictionary
nm=['nhk','nhk1','nhk2','nhk3']
deg=['ug','pg','phd','mba']
scr=[90,95,96,98]
dct={'name':nm,'degree':deg,'score':scr}
df=pd.DataFrame(dct)
df

   name degree  score
0   nhk     ug     90
1  nhk1     pg     95
2  nhk2    phd     96
3  nhk3    mba     98