In [2]:
import os
os.chdir("C:\\Users\\Poori\\Desktop\\Udemy\\A-Z Machine learning Kaggle\\Github\\DataSet")

In [3]:
import pandas as pd
txt=pd.read_csv("tweets.csv")
txt.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
txt.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [5]:
txt[['location', 'text']][0:5]

  location                                               text
0      NaN  Our Deeds are the Reason of this #earthquake M...
1      NaN             Forest fire near La Ronge Sask. Canada
2      NaN  All residents asked to 'shelter in place' are ...
3      NaN  13,000 people receive #wildfires evacuation or...
4      NaN  Just got sent this photo from Ruby #Alaska as ...

In [6]:
p1=txt[['location', 'text']][0:2]
p2=txt[['location', 'text']][2:5]
print(p1)
print(p2)

  location                                               text
0      NaN  Our Deeds are the Reason of this #earthquake M...
1      NaN             Forest fire near La Ronge Sask. Canada
  location                                               text
2      NaN  All residents asked to 'shelter in place' are ...
3      NaN  13,000 people receive #wildfires evacuation or...
4      NaN  Just got sent this photo from Ruby #Alaska as ...

In [8]:
pd.concat([p1,p2])

  location                                               text
0      NaN  Our Deeds are the Reason of this #earthquake M...
1      NaN             Forest fire near La Ronge Sask. Canada
2      NaN  All residents asked to 'shelter in place' are ...
3      NaN  13,000 people receive #wildfires evacuation or...
4      NaN  Just got sent this photo from Ruby #Alaska as ...

In [9]:
concat_keys=pd.concat([p1,p2],keys=['p1','p2']) #assigning a key, we can identify these later
concat_keys

     location                                               text
p1 0      NaN  Our Deeds are the Reason of this #earthquake M...
   1      NaN             Forest fire near La Ronge Sask. Canada
p2 2      NaN  All residents asked to 'shelter in place' are ...
   3      NaN  13,000 people receive #wildfires evacuation or...
   4      NaN  Just got sent this photo from Ruby #Alaska as ...

In [11]:
concat_keys.loc['p1']

  location                                               text
0      NaN  Our Deeds are the Reason of this #earthquake M...
1      NaN             Forest fire near La Ronge Sask. Canada