In [15]:
import os
os.chdir("C:\\Users\\Poori\\Desktop\\Udemy\\A-Z Machine learning Kaggle\\Github\\DataSet")

In [13]:
#import pandas as pd
#txt=pd.read_csv("example.csv", encoding='latin1')

In [18]:
import pandas as pd
txt=pd.read_csv("tweets.csv")
txt.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [21]:
txt['text'][0:10]

0    Our Deeds are the Reason of this #earthquake M...
1               Forest fire near La Ronge Sask. Canada
2    All residents asked to 'shelter in place' are ...
3    13,000 people receive #wildfires evacuation or...
4    Just got sent this photo from Ruby #Alaska as ...
5    #RockyFire Update => California Hwy. 20 closed...
6    #flood #disaster Heavy rain causes flash flood...
7    I'm on top of the hill and I can see a fire in...
8    There's an emergency evacuation happening now ...
9    I'm afraid that the tornado is coming to our a...
Name: text, dtype: object

In [22]:
txt['text'][0:10].str.extract('(\w+)') #to extract first word

           0
0        Our
1     Forest
2        All
3         13
4       Just
5  RockyFire
6      flood
7          I
8      There
9          I

In [23]:
txt['text'][0:10].str.extract('(\w+)\s(\w+)') #to extract first word and second word

           0          1
0        Our      Deeds
1     Forest       fire
2        All  residents
3        000     people
4       Just        got
5  RockyFire     Update
6   disaster      Heavy
7          m         on
8          s         an
9          m     afraid

In [26]:
txt[txt['location']=='USA']

,id,keyword,location,text,target
55,79,ablaze,USA,#Kurds trampling on Turkmen flag later set it ...,1
203,287,ambulance,USA,Twelve feared killed in Pakistani air ambulanc...,1
223,316,annihilated,USA,One thing for sure-God has promised Israel wil...,0
316,461,armageddon,USA,YOUR PHONE IS SPYING ON YOU! Hidden Back Door ...,0
382,551,arson,USA,Thousands attend a rally organized by Peace No...,1
...,...,...,...,...,...
7341,10511,wildfire,USA,The Latest: Washington #Wildfire misses town; ...,1
7356,10533,wildfire,USA,The Latest: #Wildfire destroys more homes but ...,1
7413,10606,wounded,USA,One man fatally shot another wounded on Vermon...,1
7420,10613,wounded,USA,Police Officer Wounded Suspect Dead After Exch...,1
7430,10628,wounded,USA,ABC News: Police Officer Wounded Suspect Dead ...,1

In [25]:
txt['location'].value_counts()

USA                        104
New York                    71
United States               50
London                      45
Canada                      29
                          ...
Camberwell, Melbourne        1
Penn Hills, PA               1
Blackpool, England, UK.      1
liverpool                    1
International Action         1
Name: location, Length: 3341, dtype: int64

In [28]:
txt.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [29]:
txt['text'][0:5].str.lower()

0    our deeds are the reason of this #earthquake m...
1               forest fire near la ronge sask. canada
2    all residents asked to 'shelter in place' are ...
3    13,000 people receive #wildfires evacuation or...
4    just got sent this photo from ruby #alaska as ...
Name: text, dtype: object

In [30]:
txt['text'][0:5].str.len()

0     69
1     38
2    133
3     65
4     88
Name: text, dtype: int64