In [1]:
#tuple initialization
tpl=(1,2,4,3,2,1)
tpl

(1, 2, 4, 3, 2, 1)

In [3]:
#mixed tuple
mxd_tpl=("mxd",1,2,3.4)
mxd_tpl

('mxd', 1, 2, 3.4)

In [4]:
#nested tuple
nstd_tpl=("nstd",[1,2,3],4,5.6)
nstd_tpl

('nstd', [1, 2, 3], 4, 5.6)

In [5]:
#tuple with one item
tpl=("program")
tpl

'program'

In [6]:
#empty tuple
tpl=()
tpl

()

In [7]:
nstd_tpl

('nstd', [1, 2, 3], 4, 5.6)

In [8]:
nstd_tpl[0]

'nstd'

In [9]:
nstd_tpl[2]

4

In [10]:
nstd_tpl[-1]

5.6

In [11]:
nstd_tpl[1:4]

([1, 2, 3], 4, 5.6)

In [12]:
nstd_tpl

('nstd', [1, 2, 3], 4, 5.6)

In [13]:
nstd_tpl[1][2]=22
nstd_tpl

('nstd', [1, 2, 22], 4, 5.6)

In [14]:
#reassigning a tuple
nstd_tpl=('nstd', 4, 5.6, [1, 2, 3], 6)
nstd_tpl

('nstd', 4, 5.6, [1, 2, 3], 6)

In [16]:
#deleting tuple
tpl=("p","r","o","g","r","a","m")

In [17]:
del tpl

In [18]:
tpl

NameError: name 'tpl' is not defined

In [21]:
#membership operators in tuples
nstd_tpl

('nstd', 4, 5.6, [1, 2, 3], 6)

In [19]:
4 in nstd_tpl

True

In [20]:
4 not in nstd_tpl

False

In [22]:
nstd_tpl.count(4)

1

In [24]:
nstd_tpl.index(6)

4

In [26]:
len(nstd_tpl)

5

In [28]:
tpl=(2,3,5,7,34,56,23)
max(tpl)

56

In [29]:
min(tpl)

2

In [30]:
my_tuple = ("car", "zebra", "book", "hat", "shop", "art")
my_tuple

('car', 'zebra', 'book', 'hat', 'shop', 'art')

In [ ]:
max(my_tp)